@import url("https://fonts.cdnfonts.com/css/switzer");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-family: Switzer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.logo svg {
  width: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-family: Switzer;
  font-size: 18px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.contact-btn {
  padding: 8px 15px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  background: transparent;
  margin-left: 20px;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.3s;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  z-index: 10;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu li {
  text-align: center;
  padding: 10px 0;
}

.mobile-menu a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.flash {
  display: flex;
  align-items: center;
  background-color: #ff4d4f;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.mobile-menu.active {
  display: flex;
}
/* main stage of this website */
main {
  background: #ffffff;
  padding: 40px 24px 17px 24px;
}
main .contact {
  width: 100%;
}
main .contact .cont-first-word {
  width: 342px;
  height: 140px;
  top: 40px;
  left: 24px;
  gap: 12px;
}
main .contact .cont-first-word h1 {
  font-family: Switzer;
  font-size: 43px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212b2;
}
main .contact .cont-first-word p {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #121212b2;
}
/* the img of this contact page */

main .contact .contact-img img {
  width: 100%;
  border-radius: 8px;
}
/* the form page of this website */
main .contact .lets-talk .lets-word {
  width: 100%;
  margin-top: 30px;
}
main .contact .lets-talk .lets-word h4 {
  font-family: Switzer;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #060606;
}
main .contact .lets-talk .lets-word p {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #060606;
}

main form {
  flex-direction: column;
}
main form label {
  display: block;
  margin-top: 15px;
}
main form input[type="text"] {
  width: 100%;
  height: 50px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 15px;
}
main form input[type="email"] {
  width: 100%;
  height: 50px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 15px;
}
main form input[type="number"] {
  width: 100%;
  height: 50px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 15px;
}
main form textarea {
  width: 100%;
  height: 100px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 15px;
}
main form .checking {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 15px;
}
main form .checking label {
  margin-left: 10px;
  margin-bottom: 10px;
}
main form .checking .div-one,
.div-two,
.div-three,
.div-four {
  display: flex;
}
/* main form .checking .div-one, .div-two, .div-three, .div-four label{
  
} */
main form .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;

  width: 100%;
  height: 60px;
  padding: 14px 24px 14px 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
main form .button-box button {
  background: transparent;
  outline: 0;
  border: 0;
  color: #ffffff;
  margin-right: 15px;
}
main form .button-box button a {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
main .contact .map img {
  width: 100%;
}

/* build with us section */
main .build {
  width: Fixed (342px) px;
  height: Hug (482px) px;
  padding: 20px;
  border-radius: 10px;
  background: #000000;
  text-align: center;
  margin-top: 20px;
}
main .build .build-content svg {
  width: 74px;
  height: 74px;
}
main .build .text-build h1 {
  font-family: Switzer;
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ffffff;
}
main .build .text-build p {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
main .build .btn-sec {
  width: Fill (302px) px;
  height: Hug (56px) px;
  padding: 14px 24px 14px 24px;
  gap: 16px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}
main .build .btn-sec .first-btn {
  width: Fixed (230px) px;
  height: Hug (60px) px;
  padding: 10px 20px 10px 20px;
  gap: 16px;
  border-radius: 12px;
  opacity: 0px;
  background: #ff4337;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .build .btn-sec button {
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .build .btn-sec .first-btn a {
  font-family: Switzer;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
main .build .btn-sec .first-btn svg {
  width: 24px;
  height: 24px;
}

main .build .btn-sec .second-btn {
  /* width: Fill (302px)px;
    height: Hug (56px)px; */
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
main .build .btn-sec .second-btn svg {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
main .build .btn-sec .second-btn a {
  font-family: Switzer;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  margin-right: 10px;
}

/* the footer section  */
a {
  text-decoration: none;
}
footer {
  padding: 40px 24px 17px 24px;
}
footer .news {
  display: block;
  top: 40px;
  left: 24px;
  padding: 20px 16px 20px 16px;
  gap: 32px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffeceb;
}

footer .news .cont h2 {
  font-family: Switzer;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 310px;
  height: 26px;
  gap: 0px;
  opacity: 0px;
}
footer .news .cont {
  width: 100%;
}
footer .news .cont p {
  font-family: Switzer;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #7e838f;
  width: 310px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
}
footer .news .input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 15px 10px 15px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #ffffff;
  margin-top: 15px;
}
footer .news .input-container input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;
  width: 307px;
  height: 36px;
  outline: 0;
  border: 0;
}
footer .news .input-container button {
  width: 94px;
  height: 36px;
  background: #ff4337;
  border-radius: 4px;
  outline: 0;
  border: 0;
}

/* the main footer section of this website */
.cover {
  display: block;
  align-items: center;
  justify-content: left;
  background-color: #ffffff;
}
.cover .first-content-1 {
  width: Fixed (342px) px;
  height: Hug (164px) px;
  top: 286px;
  left: 24px;
  gap: 12px;
  opacity: 0px;
}
.cover .first-content-1 p {
  color: #7e838f;
  font-family: Switzer;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.cover .logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: Hug (118px) px;
  height: Hug (32px) px;
  margin-top: 10px;
}
.cover .logo h2 {
  margin-left: 10px;
}
.cover .main-side {
  display: block;
  align-items: center;
  justify-content: space-between;
}
.main-side,
span,
li {
  display: block;
  align-items: center;
  gap: 70px;
  list-style: none;
}
.main-side span ul li {
  line-height: 30px;
}
.main-side span li a {
  color: #9a9ea6;
  text-transform: capitalize;
}
.main-side header {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* the last section of this website */
.last-footer {
  display: block;
  align-items: center;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 30px;
}
.last-footer p {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7e838f;
  margin-top: 10px;
}

/* downward we have the responsiveness of each screen */
@media (max-width: 768px) {
  .nav-links,
  .contact-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .logo svg {
    width: 22.5px;
    height: 22.5px;
    top: 0.75px;
    gap: 0px;
    opacity: 0px;
  }
}
@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
  .logo svg {
    width: 22.5px;
    height: 22.5px;
    top: 0.75px;
    gap: 0px;
    opacity: 0px;
  }
}
/*tablet */
@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
  .logo svg {
    width: 22.5px;
    height: 22.5px;
    top: 0.75px;
    gap: 0px;
    opacity: 0px;
  }
}
/* mobile */
@media (max-width: 768px) {
  .nav-links,
  .contact-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .logo svg {
    width: 22.5px;
    height: 22.5px;
    top: 0.75px;
    gap: 0px;
    opacity: 0px;
  }
}
/* decktop section of media query */
@media (min-width: 1024px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }

  .logo svg {
    width: 40px;
    margin-right: 10px;
  }

  .logo span {
    font-size: 1.2em;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
    font-family: Switzer;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .contact-btn {
    padding: 8px 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    background: transparent;
    margin-left: 20px;
  }
  main {
    background: #ffffff;
    padding: 40px 24px 17px 24px;
  }
  main .contact {
    width: 100%;
  }
  main .contact .cont-first-word {
    width: 342px;
    height: 140px;
    top: 40px;
    left: 24px;
    gap: 12px;
  }
  main .contact .cont-first-word h1 {
    font-family: Switzer;
    font-size: 43px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212b2;
  }
  main .contact .cont-first-word p {
    font-family: Switzer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #121212b2;
  }
  /* the img of this contact page */

  main .contact .contact-img img {
    width: 100%;
    border-radius: 8px;
  }
  /* the form page of this website */
  main .lets-talk {
    width: 100%;
    background: #ffffff;
  }
  main .contact .lets-talk .lets-word h4 {
    font-family: Switzer;
    font-size: 32px;
    font-weight: 600;
    line-height: 42.24px;
    text-align: left;
    width: 301.44px;
    height: 42px;
    color: #000000;
  }

  main .contact .lets-talk .lets-word p {
    font-family: Switzer;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.02px;
    text-align: left;
    width: 579.61px;
    height: 51px;

    color: #000000;
  }
  main .contact .hold-form {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  main .contact .hold-form form {
    width: 50%;
  }
  main .contact .hold-form form .two-input {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  main .contact .hold-form form .two-input .box-input {
    width: 100%;
  }
  main .contact .hold-form form .two-input .inputt {
    width: 100%;
  }
  main .contact .hold-form form .checking {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  main .contact .hold-form form .checking label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  main .contact .hold-form form .button-box {
    margin-top: 100px;
    background: red;
  }
  main .contact .hold-form form .button-box a {
    font-family: Archivo;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.25px;
    text-align: center;
    color: #ffffff;
  }

  main .contact .hold-form .map {
    width: 50%;
  }

  /* and this is where it ends */

  main .build {
    text-align: center;
    background: #1c070f;
    width: Fixed (1, 390px) px;
    height: Fixed (703px) px;

    padding: 50px 200px 50px 200px;
    border-radius: 20px;
    margin-bottom: 80px;
  }
  main .build .text-build h1 {
    font-family: Switzer;
    font-size: 72px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
  }
  main .build .text-build p {
    font-family: Switzer;
    font-size: 24px;
    font-weight: 300;
    line-height: 31.68px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
  }
  main .build .btn-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  main .build .btn-sec .first-btn {
    width: Fixed (230px) px;
    height: Hug (60px) px;
    padding: 10px 20px 10px 20px;
    gap: 16px;
    border-radius: 12px;
    opacity: 0px;
    background: #ff4337;
    display: flex;
    align-items: center;
  }
  main .build .btn-sec button {
    background: transparent;
    outline: none;
    border: none;
  }
  main .build .btn-sec .first-btn a {
    font-family: Switzer;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
  }

  main .build .btn-sec .second-btn {
    width: Fixed (230px) px;
    height: Hug (60px) px;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    background: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  main .build .btn-sec .second-btn a {
    font-family: Switzer;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #121212;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
  }
  footer .news {
    display: flex;
    align-items: center;
    width: 100%;
    height: 116px;
    background: #ffeceb;
    border-radius: 10px;
    padding: 0px 38px;
    margin-bottom: 50px;
  }
  footer .news .cont h2 {
    font-family: "Switzer";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #121212;
    width: 124px;
    height: 32px;
  }
  footer .news .cont {
    width: 801px;
  }
  footer .news .cont p {
    font-family: "Switzer";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #7e838f;
  }
  footer .news .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 6px 0px 24px;
    gap: 8px;
    background: #ffffff;
    width: 457px;
    height: 48px;
    background: #ffffff;
    border-radius: 8px;
  }
  footer .news .input-container input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 307px;
    height: 36px;
    outline: 0;
    border: 0;
  }
  footer .news .input-container button {
    width: 100%;
    height: 36px;
    background: #ff4337;
    border-radius: 4px;
    outline: 0;
    border: 0;
  }

  /* the main footer section of this website */
  .cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0px 38px;
    padding-top: 40px;
  }
  .cover .first-content-1 {
    line-height: 24px;
  }
  .cover .first-content-1 p {
    color: #7e838f;
  }
  .cover .logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .cover .logo h2 {
    margin-left: 10px;
  }
  .cover .main-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-side,
  span,
  li {
    display: flex;
    align-items: center;
    gap: 70px;
    list-style: none;
  }
  .main-side span ul li {
    line-height: 30px;
  }
  .main-side span li a {
    color: #9a9ea6;
    text-transform: capitalize;
  }
  .main-side header {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  /* the last section of this website */
  .last-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 38px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .last-footer p {
    font-family: Switzer;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.12px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7e838f;
  }
}